{%extends 'base.html' %}
{%block content%}
    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title-layout1 page-title-light text-center bg-overlay bg-parallax">
      <div class="bg-img"><img src="{{ url_for('static',filename='assets/images/page-titles/1.jpg') }}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-6 offset-xl-3">
            <h1 class="pagetitle-heading">About Us</h1>
            <p class="pagetitle-desc">IHD Life is not just a pharmaceutical company; it's a symbol of healthcare innovation, a beacon of unwavering quality, and a testament to the possibility of accessible and affordable healthcare for all. Delve deeper into the core of who we are, our rich history, our guiding principles, and meet the visionary leaders steering our mission.

            </p>
           
            <nav>
              <ol class="breadcrumb d-flex justify-content-center mt-80 mb-0">
                <li class="breadcrumb-item">
                  <a href="index.html">Home</a>
                </li>
                
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
              </ol>
            </nav>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      <a class="home-nav" href="index.html">
        <i class="icon-home"></i>
      </a>
      <div class="curve-top-shape">
        <svg class="curve-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
          <path class="curve-path" d="M1000,4.3V0H0v4.3C0.9,23.1,126.7,99.2,500,100S1000,22.7,1000,4.3z"></path>
        </svg>
      </div><!-- /.curve -->
    </section><!-- /.page-title -->

    <!-- ========================
      About Layout 1
    =========================== -->
    <section class="about-layout1 pt-90 pb-130">
      <div class="container">
       
        <div class="row">
          <div class="col-sm-12 col-md-10 col-lg-10 col-xl-7">
            <div class="about-img">
              <img src="{{ url_for('static',filename='assets/images/about/1.png') }}" alt="about" class="w-100">
              <div class="about-banner">
                <div class="about-icon"><i class="icon-mortar"></i></div>
                <p class="banner-text color-white mb-0">New Advanced Instruments</p>
              </div>
            </div>
          </div><!-- /.col-12 -->
          <div class="col-sm-12 col-md-10 col-lg-10 col-xl-5">
            <div class="about-text">
              
              <ul class="features-list-layout1 list-unstyled mb-40">
                <li class="feature-item d-flex align-items-center">
                  <div class="feature-icon"><i class="icon-check"></i></div>
                  <div class="feature-body">
                    <h4 class="feature-title">Our Heritage</h4>
                    <p class="feature-desc mb-0">Our journey began with a visionary dream to transform healthcare. Over the years, we have achieved remarkable milestones, each one a testament to our dedication to healthcare excellence. Discover the pivotal moments that define our history and our commitment to shaping the future of healthcare.
                    </p>
                  </div>
                </li>
                <li class="feature-item">
                  <div class="feature-icon"><i class="icon-check"></i></div>
                  <div class="feature-body">
                    <h4 class="feature-title">Our Values</h4>
                    <p class="feature-desc mb-0">At the heart of IHD Life are our core values. These principles guide our every decision, from ensuring quality in our products to fostering global partnerships and bridging accessibility gaps. Integrity, innovation, inclusivity, and excellence are not just words; they are the pillars on which we stand.
                    </p>
                  </div>
                </li>
                <li class="feature-item">
                  <div class="feature-icon"><i class="icon-check"></i></div>
                  <div class="feature-body">
                    <h4 class="feature-title">Leadership Team</h4>
                    <p class="feature-desc mb-0">Meet the visionary leaders who drive our mission forward. Our leadership team is composed of individuals with diverse expertise, united by a shared passion for healthcare transformation. Together, we lead by example, shaping the future of healthcare with every decision we make.
                    </p>
                  </div>
                </li>
                <li class="feature-item">
                  <div class="feature-icon"><i class="icon-check"></i></div>
                  <div class="feature-body">
                    <h4 class="feature-title">Innovation Hub
                    </h4>
                    <p class="feature-desc mb-0">Innovation is not just a buzzword; it's a way of life at IHD Life. Explore our commitment to research and development, where we harness the power of innovation to pioneer groundbreaking solutions that elevate healthcare standards and improve the lives of patients worldwide.
                    </p>
                  </div>
                </li>
               
              </ul>
              
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About Layout 1 -->

   


    <!-- ========================
     Banner Layout 1
    =========================== -->
    <section class="banner-layout1 bg-overlay bg-overlay-secondary-gradient bg-parallax pt-130 pb-0">
      <div class="bg-img"><img src="{{ url_for('static',filename='assets/images/backgrounds/1.jpg') }}" alt="backgrounds"></div>
      <div class="container pb-30">
        <div class="row">
          <div class="col-12 col-xl-6">
            <div class="heading-layout2 heading-light mb-60">
             
              <h3 class="heading-title">Corporate Social Responsibility</h3>
            </div><!-- /.heading-layout2 -->
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-10 col-lg-7 col-lg-6 col-xl-6">
            <div class="banner-img">
              <img src="{{ url_for('static',filename='assets/images/banners/1.jpg') }}" alt="banner" class="rounded-4 w-100">
              <div class="promo-text">
                <span class="inner-text">25+ Years Of Experience</span>
              </div>
              <div class="banner-shape">
                <span class="hexagon-clippath"></span><span class="hexagon-clippath2"></span>
              </div>
            </div>
          </div><!-- /.col-xl-6 -->
          <div class="col-sm-12 col-lg-8 col-xl-5 offset-xl-1">
            <div class="banner-text">
              <p class="color-white fw-bold">Our responsibility extends far beyond the boardroom. Learn about our corporate social responsibility initiatives, where we actively engage with communities to make a positive impact. From healthcare education to environmental sustainability, we are committed to giving back to the communities we serve.
              </p>
             
            </div>
            <div class="fancybox-layout2 fancybox-light">
              <div class="fancybox-item">
                <div class="fancybox-icon">
                  <i class="icon-flask"></i>
                </div><!-- /.fancybox-icon -->
                <div class="fancybox-body">
                  <h4 class="fancybox-title">Healthier World Journey</h4>
                  <p class="fancybox-desc">Embarking on a Path of Excellence for Global Well-being.</p>
                </div><!-- /.fancybox-body -->
              </div><!-- /.fancybox-item -->
              <div class="fancybox-item">
                <div class="fancybox-icon">
                  <i class="icon-medicine"></i>
                </div><!-- /.fancybox-icon -->
                <div class="fancybox-body">
                  <h4 class="fancybox-title">Innovation, Quality, Accessibility</h4>
                  <p class="fancybox-desc">Pioneering Healthcare Transformation with Innovation, Quality, and Accessibility as Cornerstones.</p>
                </div><!-- /.fancybox-body -->
              </div><!-- /.fancybox-item -->
            </div><!-- /.fancybox-layout2 -->
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      
    </section><!-- /.Banner Layout 1 -->




  {%endblock content%}

   