{%extends "base.html"%}
{%block content%}
    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title-layout2 page-title-light pb-30 bg-overlay bg-parallax">
      <div class="bg-img"><img src="{{ url_for('static',filename='assets/images/page-titles/9.jpg') }}" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-9">
  
            <h1 class="pagetitle-heading">Discover Excellence in Our Product Range</h1>
            <p class="pagetitle-desc">At IHD Life, our product range stands as a testament to our unwavering commitment to excellence in healthcare. We offer a diverse catalog of generic medications, meticulously crafted to address a spectrum of medical needs. Our products represent more than just pharmaceuticals; they embody our dedication to healthcare innovation, quality, and accessibility.
            </p>
            
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      <div class="breadcrumb-area">
        <div class="container">
          <nav>
            <ol class="breadcrumb justify-content-center mt-80 mb-0">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
          </nav>
        </div><!-- /.container -->
      </div><!-- /.breadcrumb-area -->
    </section><!-- /.page-title -->

    <!-- ========================
        Services Layout 3
    =========================== -->
    <section class="services-layout3 pt-130 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-6 offset-xl-3">
            <div class="heading-layout2 text-center mb-50">
              <h3 class="heading-title">Our Product Categories</h3>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <!-- service item #1 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="service-title">
                    <a href="tests-single-test.html">Cardiovascular Health</a>
                  </h4>
                  <div class="service-icon">
                    <i class="icon-microscope"></i>
                  </div>
                </div>
                <p class="service-desc">Explore our range of cardiovascular medications designed to keep hearts healthy, lives thriving, and families together. Our commitment to heart health extends to all, ensuring that individuals can lead active, fulfilling lives.
                </p>
                
                
              </div><!-- /.service-body -->
              <div class="service-shape">
                <span class="hexagon-clippath"></span><span class="hexagon-clippath2"></span>
              </div>
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #2 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="service-title">
                    <a href="tests-single-test.html">Pain Management</a>
                  </h4>
                  <div class="service-icon">
                    <i class="icon-dna-structure"></i>
                  </div>
                </div>
                <p class="service-desc">: We understand the importance of pain relief in enhancing the quality of life. Delve into our pain management solutions, which empower individuals to manage and conquer pain effectively, improving overall well-being.
                </p>
              </div><!-- /.service-body -->
              <div class="service-shape">
                <span class="hexagon-clippath"></span><span class="hexagon-clippath2"></span>
              </div>
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #3 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="service-title">
                    <a href="tests-single-test.html">Mental Health</a>
                  </h4>
                  <div class="service-icon">
                    <i class="icon-florence-flask"></i>
                  </div>
                </div>
                <p class="service-desc">Mental well-being is paramount to leading a fulfilling life. Our mental health medications support individuals on their journey to wellness, fostering resilience and emotional well-being.
                </p>
               
              </div><!-- /.service-body -->
              <div class="service-shape">
                <span class="hexagon-clippath"></span><span class="hexagon-clippath2"></span>
              </div>
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #4 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="service-title">
                    <a href="tests-single-test.html">Chronic Conditions</a>
                  </h4>
                  <div class="service-icon">
                    <i class="icon-mortar"></i>
                  </div>
                </div>
                <p class="service-desc">: Living with chronic conditions can be challenging. Our products are designed to help individuals manage these conditions effectively, ensuring a higher quality of life and greater independence.
                </p>
                
              </div><!-- /.service-body -->
              <div class="service-shape">
                <span class="hexagon-clippath"></span><span class="hexagon-clippath2"></span>
              </div>
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #5 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="service-title">
                    <a href="tests-single-test.html">Infectious Diseases</a>
                  </h4>
                  <div class="service-icon">
                    <i class="icon-atom"></i>
                  </div>
                </div>
                <p class="service-desc">In the ongoing battle against infectious diseases, we stand firm. Our products contribute to the fight by offering effective and affordable solutions, safeguarding communities against threats.
                </p>
                
              </div><!-- /.service-body -->
              <div class="service-shape">
                <span class="hexagon-clippath"></span><span class="hexagon-clippath2"></span>
              </div>
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #6 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="service-title">
                    <a href="tests-single-test.html">Women's Health</a>
                  </h4>
                  <div class="service-icon">
                    <i class="icon-molecule2"></i>
                  </div>
                </div>
                <p class="service-desc">Empowering women's health is a priority. Explore our range of products tailored to women's unique healthcare needs, ensuring that every woman receives the care she deserves.
                </p>
                
              </div><!-- /.service-body -->
              <div class="service-shape">
                <span class="hexagon-clippath"></span><span class="hexagon-clippath2"></span>
              </div>
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->

          <!-- service item #6 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="service-title">
                    <a href="tests-single-test.html">Pediatric Care</a>
                  </h4>
                  <div class="service-icon">
                    <i class="icon-molecule2"></i>
                  </div>
                </div>
                <p class="service-desc">We care for the youngest members of our community with specialized pediatric medications, ensuring a bright and healthy future for children around the world.
                </p>
                
              </div><!-- /.service-body -->
              <div class="service-shape">
                <span class="hexagon-clippath"></span><span class="hexagon-clippath2"></span>
              </div>
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-12 col-lg-6 offset-lg-3 text-center">
            <p class="fw-bold px-xl-5 mb-0">Each product in our catalog is more than a prescription; it's a reflection of our mission to make quality healthcare accessible to all. Click on the product categories to learn more about how IHD Life is making a difference in the lives of individuals and communities.
             
            </p>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Services Layout 3 -->



    <!-- ======================
       Call to Action
      ========================= -->
    <section class="cta-layout1 bg-overlay bg-overlay-secondary-gradient mb-100">
      <div class="bg-img"><img src="{{ url_for('static',filename='assets/images/backgrounds/1.jpg') }}" alt="backgrounds"></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-12 col-xl-7">
            <div class="cta-block d-flex align-items-start mt-20 mb-20">
              <div class="cta-icon"><i class="icon-molecule2"></i></div>
              <div>
                <h4 class="cta-title color-white">Innovation in Every Pill</h4>
                <p class="cta-desc color-gray mb-20">YOur commitment to innovation transcends laboratory walls. It's about delivering healthcare solutions that positively impact lives. At IHD Life, innovation is not a one-time endeavor; it's a continuous investment in research and development, staying at the forefront of medical advancements, and ensuring that individuals receive the best care possible.
                </p>
                <p class="cta-desc color-gray">Our products are not just pharmaceuticals; they are a testament to our mission to make quality healthcare accessible to all, regardless of geographic location or economic status.
                </p>
              </div>
            </div>
          </div><!-- /.col-xl-7 -->
          
        </div><!-- /.row -->
      </div><!-- /.container -->
      <div class="curve-top-shape d-none d-xl-block">
        <svg class="curve-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
          <path class="curve-path" d="M1000,4.3V0H0v4.3C0.9,23.1,126.7,99.2,500,100S1000,22.7,1000,4.3z"></path>
        </svg>
      </div><!-- /.curve -->
    </section><!-- /.cta-layout1 -->

    

    {%endblock content%}